

.titanic-header {
    width: 100%;
    text-align: center;
    font-size: clamp(12px, 27vw, 500px);
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    margin-top: -30px;
    padding: 0;
    line-height: 1;
    background: rgba(255, 255, 255, 0.3);
}

.surround {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    padding: 20px;
}

.main-content {
    background: rgba(255, 255, 255, 0.75);
    width: 80%;
}

.titanic-subheader {
    width: 100%;
    text-align: center;
    font-size: clamp(16px, 6vw, 36px);
    white-space: nowrap;
    overflow: hidden;
}